@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Security.Claims;

@{
    int userId = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppCuidandoPatitas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppCuidandoPatitas.styles.css" asp-append-version="true" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                @if (User.IsInRole("cp_admin") || User.IsInRole("cp_rescatista") || User.IsInRole("cp_adoptante"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="IndexLogIn">
                        <span class="text-primary">
                            Cuidando <br />
                            Patitas 🐾
                        </span>
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="text-primary">
                            Cuidando <br />
                            Patitas 🐾
                        </span>
                    </a>
                }


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("cp_admin") || User.IsInRole("cp_rescatista") || User.IsInRole("cp_adoptante"))
                        {
                            <li class="nav-item ms-auto dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <b>USUARIO: @User.Identity.Name</b>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item text-dark" style="--bs-link-hover-color-rgb: 25, 135, 84;" asp-area="" asp-controller="Usuarios" asp-action="TraerUsuario" asp-route-id="@Convert.ToInt32(@User.FindFirst(ClaimTypes.NameIdentifier)?.Value)"><b>MI PERFIL</b></a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" style="--bs-link-hover-color-rgb: 25, 135, 84;" asp-area="" asp-controller="Acceso" asp-action="Salir"><b>SALIR</b></a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-auto">
                                <button type="button" class="btn btn-sm btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="Acceso" asp-action="LogIn">Acceder</a></button>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- footer section -->
    <section class="container-fluid align-items-center text-center footer_section">
        <p>
            &copy; 2024 - AppCuidandoPatitas
        </p>
    </section>
    <!-- footer section -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false).

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: -34.7209173,
                    lng: -58.2918552
                },
            });

            var image = 'images/maps-and-flags.png';
            var beachMarker = new google.maps.Marker({
                position: {
                    lat: -34.7209173,
                    lng: -58.2918552
                },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
    </script>
    <!-- end google map js -->
</body>
</html>
