@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;
@model List<ModelAnimales>

@{
    ViewData["Title"] = "Lista de Animales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Lista de Patitas en adopción</h2></center>

@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        <p>@successMessage</p>
    </div>
}

@* @foreach (var animal in Model)
{
    @if (animal.Adoptado != 1){
        <div class="card" style="width: 18rem;">
            <img src="@animal.imagen" class="card-img-top" alt="...">
            <div class="card-body style="background:green">
                <h5 class="card-title">@animal.AnimalNombre</h5>
                <p class="card-text">@animal.AnimalDescripcion</p>
                
                <!--CAMBIA adoptado = 1 -->
                <form asp-action="adoptarMascota" asp-controller="Animales" method="post" style="display: inline;">
                    <input type="hidden" name="AnimalId" value="@animal.AnimalId" />
                    <button type="submit" class="material-symbols-outlined" style="background: none; border: none; padding: 0;">
                        <span class="btn btn-primary">pets</span>
                    </button>
                </form>

                <!-- EVALUA EL USER ALTA PARA MOSTRAR EL BOTON DE ELIMINAR -->
             
                    <!--CAMBIA EL ESTADO_ANIMAL = 0 -->
                <form asp-action="modificarAnimalVista" asp-controller="Animales" asp-route-animalId="@animal.AnimalId" style="display: inline;">
                    <button type="submit" class="material-symbols-outlined" style="background: none; border: none; padding: 0;">
                            <span class="btn btn-danger">delete</span>
                        </button>
                    </form>
                

            </div>
        </div> <br>
    }
}
 *@


<div class="container">
    <div class="row">
        @foreach (var animal in Model)
        {
            @if (animal.Adoptado != 1)
            {
                <div class="col-md-4 mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="@animal.imagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@animal.AnimalNombre</h5>
                            <p class="card-text">@animal.AnimalDescripcion</p>

                            <!-- CAMBIA adoptado = 1 -->
                            <form asp-action="adoptarMascota" asp-controller="Animales" method="post" style="display: inline;">
                                <input type="hidden" name="AnimalId" value="@animal.AnimalId" alt="Adoptar Mascota" />
                                <button type="submit" class="material-symbols-outlined" style="background: none; border: none; padding: 0;">
                                    <span class="btn btn-primary">pets</span>
                                </button>
                            </form>


                            <form asp-action="modificarAnimalVista" asp-controller="Animales" asp-route-animalId="@animal.AnimalId" style="display: inline;" alt="Modificar Mascota">
                                <button type="submit" class="material-symbols-outlined" style="background: none; border: none; padding: 0;">
                                    <span class="btn btn-warning">edit</span>
                                </button>
                            </form>


                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
