@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using AppCuidandoPatitas.Models;
@model ModelAnimales

@{
    ViewData["Title"] = "Nuevo Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<div class="card">

    <div class="card-header">
        <h1 class="text-center">LISTA DE USUARIOS</h1>
       
    </div>

    <div class="card-body">
        <form asp-action="ingresarMascota" asp-controller="Animales" method="post" enctype="multipart/form-data">
        <div class="row g-3 align-items-center p-3 fw-bold">

            <div class="col-md-2">
                <label for="especieId" class="form-label">Especie</label>
                <select asp-for="EspecieId" class="form-select" id="especie" required>
                    @foreach (var especie in ViewBag.ListaEspecie)
                    {
                        <option value="@especie.EspecieId">@especie.EspecieNombre</option>
                    }
                </select>
            </div>           

            <div class="col-md-3">
                <label for="animalNombre" class="form-label">Nombre del Animal</label>
                <input asp-for="AnimalNombre" type="text" class="form-control" id="animalNombre" maxlength="30" placeholder="Ingrese un nombre" required> <!-- Valor por defecto -->
            </div>

            <div class="col-md-3">
                <label for="image" class="form-label">FOTO</label>
                <input asp-for="imagen" type="file" class="form-control" name="imagen" required>
            </div>
           
            <div class="col-md-2">
                <label for="animalSexo" class="form-label">Sexo</label>
                <select asp-for="AnimalSexo" class="form-control" id="animalSexo" required>
                    <option value="" disabled>Seleccione el sexo del animal</option>
                    <option value="M" selected>Macho</option> <!-- Valor por defecto -->
                    <option value="F">Hembra</option>
                </select>
            </div>

            <div class="col-md-1">
                <label for="animalEdad" class="form-label">Edad</label>
                <input asp-for="AnimalEdad" type="number" class="form-control" id="animalEdad" value="2" required> <!-- Valor por defecto -->
            </div>

            <div class="col-md-2">
                <label for="animalFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input asp-for="AnimalFechaNacimiento" type="date" class="form-control" id="animalFechaNacimiento" placeholder="@DateTime.Today" required> <!-- Valor por defecto -->
            </div>

            <div class="col-md-2">
                <label for="animalPeso" class="form-label">Peso</label>
                <input asp-for="AnimalPeso" type="number" class="form-control" id="animalPeso" placeholder="10.000" required> <!-- Valor por defecto -->
            </div>

            <div class="col-md-2">
                <label for="animalCastrado" class="form-label">¿Animal Castrado?</label>
                <select asp-for="AnimalCastrado" class="form-select" id="animalCastrado" required>
                    <option value="" disabled>Seleccione una opción</option>
                    <option value="1" selected>Sí</option> <!-- Valor por defecto -->
                    <option value="0">No</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="animalEstado" class="form-label">Estado</label>
                <select asp-for="AnimalEstadoId" class="form-select" id="especie" disabled>
                    @foreach (var animalEstado in ViewBag.ListaAnimalEstado)
                    {
                        <option value="@animalEstado.AnimalEstadoId">@animalEstado.AnimalEstadoNombre</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <label for="documentoId" class="form-label">Tipo Documento</label>
                <select asp-for="DocumentoID" class="form-select" id="documento" required>
                    @foreach (var doc in ViewBag.ListaDocumento)
                    {
                        <option value="@doc.DocumentoID">@doc.DocumentoNombre</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <label for="animalDocumento" class="form-label">Nro Documento</label>
                <input asp-for="AnimalDocumento" type="number" class="form-control" id="animalDocumento" maxlength="20" value="1234567890" required> <!-- Valor por defecto -->
            </div>

            <div class="col-md-12">
                <label for="animalDescripcion" class="form-label">Descripción</label>
                <textarea asp-for="AnimalDescripcion" class="form-control" id="animalDescripcion" rows="3">Descripción por defecto</textarea> <!-- Valor por defecto -->
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-primary mb-4 fw-bold">AGREGAR <br /> PATITA 🐾</button>
            </div>
        </div>
    </form>
</div>
</div>
